
/****************************************************************************************
 * @filename      : ZzRtkTestTodo
 * @projectname   : SSDS-공통
 * @author        : I2MAX JW.KIM
 * @date          : 2023-04-13
 * @group         :
 * @group-content :
 * @description   : 
 * @reference     :
 * @release       : v1.0.0
 * @modification Log
 * ===============================================================
 * ver     date            author              description
 * ===============================================================
 0.1     2023-04-13           I2MAX  JW.KIM       Create
 ****************************************************************************************/
.inprogress{
    border-left: .5rem solid #ffc800;
}
.incomplete{
    border-left: .5rem solid #d0cfcd;
}
.completed{
    border-left: .5rem solid #89e08c;
}