/****************************************************************************************
 * @filename      : FdrBcrReduxInput
 * @projectname   : SSDS-공통
 * @author        : I2MAX
 * @date          : 2022-10-11
 * @group         :
 * @group-content :
 * @description   : 
 * @reference     :
 * @release       : v1.0.0
 * @modification Log
 * ===============================================================
 * ver     date            author          description
 * ===============================================================
 0.1     2022-10-11      I2MAX           Create
 ****************************************************************************************/
/*@import "c/fdrBcrProjectStyle";*/

.redux-input {
    --lwc-spacingXxSmall: 0;
}
.redux-radio {
    --lwc-fontWeightBold: 400;
    --lwc-spacingXxSmall: 0;
    --sds-c-button-line-height: 1.8rem;
}

:host {
    display: contents;
}